.edit {padding: 40px 50px 10px 50px;background-color: #DCE6EE;}
.imgBox {width: 100%;position: relative;}
.imgBox > img {width: 100%;height: auto;border-radius: 10px;}
.bottom {text-align: center;padding: 10px 0;}
.bottom img {height: 12px;margin-right: 5px;}
.text {color: #000000;font-size: 14px;vertical-align: 1px;}

.formBox {padding: 20px 40px 20px 20px;}
.submit {padding: 0 10% 25px 10%;}