:global(#nprogress .bar) {background: #FFF;}
:global(#nprogress .spinner) {right: auto;left: 50px;}
:global(#nprogress .spinner-icon) {border-top-color: #FFF;border-left-color: #FFF;animation-duration: 1s;}
